<h1>create character</h1>

<form action="/characters/create" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="name" id="" required>
    </div>

    <div>
        <label>Occupation</label>
        <input type="text" name="occupation" id="" required>
    </div>

    <div>
        <label>Weapon</label>
        <input type="text" name="weapon" id="" required>
    </div>

    <div>
        <label>Debt</label>
        <input type="checkbox" name="debt" id="">
    </div>
    <button type="submit">Create</button>
</form>